[2020-02-25 11:11] bobrosoft commented on #602
@echo-branch hey, are CLI builds working for you after all that? Or only manual Xcode builds?

[2020-02-25 11:18] bobrosoft commented on #609
Hi all, I'm in the same boat now %) Wanted to update to latest, but now have got #633 in iOS builds (through CLI `cordova build ios`).

[2020-02-25 12:16] bobrosoft commented on #633
Forked the repo and **temporarily** _fixed_ it with switching back to `use_frameworks` with next commit https://github.com/bobrosoft/cordova-ionic-phonegap-branch-deep-linking-attribution/commit/72f11eb9f88b0412cc27c59a0ab9247465b4b05b. Seems working.
[code]
Don't forget to
[code]

[2020-02-25 13:00] codinronan commented on #633
@bobrosoft what versions of cordova-ios and CocoaPods are you using? The need to use ‘use_frameworks’ indicates one of those two is out of date. I’ve got CLI builds working with this version and IIRC @echo-branch  indicated they were working for him too after updating.

Saying that we’re working on backporting the relevant changes to the 3.x releases as well if you don’t want to use CocoaPods.

[2020-02-25 13:27] bobrosoft commented on #633
@codinronan
cordova-ios: 5.0.1
pod: 1.7.5 (there were issues with CDN 6 months ago when I tried to update it)

So, that means I just need to update `pod` to latest?

[2020-02-25 14:24] mvaullerin commented on #622
I have exactly the same behaviour than previously.
When I console.log Branch.initSession() i got this:
``
{
+clicked_branch_link: false,
+is_first_session: false
}
``

And there is no error. The app run like if it was not triggered by deeplink.
And if I try the deeplink with the app close, I got this :
``
{
+non_branch_link: *the informations I need*,
+clicked_branch_link: false,
+is_first_session

[2020-02-25 14:54] sengoontoh commented on #609
@CodeWithOz it probably works with v3.2.1 but Google Play is deprecating their install referrer API in March so you'd want to update to the latest version right now anyway.
I used the PR from #625 referenced above and it worked both on iOS and Android. Haven't tried the official latest release yet.

[2020-02-25 19:18] codinronan commented on #633
@bobrosoft correct, that error is *specifically* fixed by using CocoaPods >= 1.8.4 - the reason is that it no longer locally resolves the file, it uses the path relative to the CDN download, which means that each CocoaPod doesn't need its own configuration path (which presented issues in the past).

[2020-02-25 20:23] bobrosoft commented on #633
@codinronan good to know, thanks for explanation! Closing...

[2020-02-25 20:23] #633 closed

[2020-02-26 18:42] bklastaitis-branch commented on #622
@mvaullerin we cannot reproduce your scenario. Would you reach out to support@branch.io with details such as the link you are using and your BranchKey? Most of the time this is a configuration issue. If support confirms it's not, we will surely get a ticket filed and looked at!

[2020-02-27 09:40] mvaullerin commented on #622
@bklastaitis-branch I will contact the support with my issue.

Thanks for your help !

[2020-02-27 09:40] #622 closed

[2020-03-02 13:59] sverdlov opened #634 "App crashes on iOS in offline"
Hi. I noticed, that if plugin can't connect to the server it throws an error "Trouble reaching the Branch servers, please try again shortly." And if don't catch it in branch.initSession() promise it crashes the app.

[2020-03-02 14:22] sverdlov commented on #634
After some research I noticed, that it apears not only in offline, got same error with very bad network. I think the problem is in the inability to connect to the server

[2020-03-02 16:03] sverdlov commented on #634
It turned out that the problem is that I did't configure the ErrorHandler correctly.

[2020-03-02 16:03] #634 closed

[2020-03-03 09:30] skout90 opened #635 "can I not show "safari cannot open the page becuase address is invalid""
Hello.

When Ios, app is not installed, if I click url(https://moneypin.app.link/test-ios) in ios note apps.

[![IMG-0624.png](https://i.postimg.cc/zBRgQ670/IMG-0624.png)](https://postimg.cc/9RC0Rxv7)

appear this error. and then can move app store.

can i not show this error message? I hope to move directly app store, if app not installed

my config is

**Default Link Domain** : moneypin.app.link

[2020-03-03 14:20] powysm opened #636 "Getting a warning for 'compile' is obsolete"
using release 3.4.0 in studio 3.3.2

I get the following message on build

This is the offending line:

`compile (name:'Branch', ext:'aar')`

Changing to the following resolves:

`implementation (name:'Branch', ext:'aar')`

[2020-03-03 14:55] TianleZhang opened #637 "iOS build doesn't work"
After we upgrade the plugin to 4.1.*, the iOS build no more working for us anymore.
everything is already with latest version.

And everything is with latest version already.

below here is the error we got:

[code]

[2020-03-03 18:21] echo-branch commented on #636
That's a maintenance release for users who cannot upgrade.  I believe the 4.x series has that change.

@codinronan

[2020-03-03 18:23] echo-branch commented on #635
Please file a support ticket.  It's possible this is a dashboard configuration issue.

[2020-03-03 18:49] codinronan commented on #636
@powysm @echo-branch That is correct; the 3.x releases are intended to be backwards compatible with older Android Studio + Older Xcode, meaning we aren't changing things like `compile vs implementation` and CocoaPods support.

The `rules.gradle` file was removed in the 4.x releases and uses the defualt Cordova config (which uses `implementation`) so it no longer has that error.

The 4.x releases a

[2020-03-04 01:35] skout90 commented on #635
@echo-branch  Thanks for reply. I will attempt to solve this myself. And then will file a support ticket.

[2020-03-04 01:35] #635 closed

[2020-03-05 01:30] skout90 commented on #635
This turned out to be due to cache issue.
reference below issue.
https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/tree/master/Branch-TestBed-Swift#test

[2020-03-06 19:44] junhohong commented on #528
+1 !

[2020-03-08 21:22] wwannous opened #639 "can't get it to build on PGB"
is this plugin compatible with phonegap build?

[2020-03-08 21:43] wwannous commented on #607
@UniBrowse did you succeed in building in phonegap build? or did you get an answer on whether this could somehow be used on phonegap build?

[2020-03-09 07:36] UniBrowse commented on #607
@wwannous I haven't been able to get it working yet. I'm hoping either PhoneGap Build will come up with an internal plugin for deep linking support or that the Branch team will implement a version that doesn't rely on hooks. In the meantime I am using [cordova-plugin-customurlscheme](https://www.npmjs.com/package/cordova-plugin-customurlscheme) and then prompting the user to "open in app". You can

[2020-03-17 13:21] kleeb commented on #639
It works but will remove Push Notification capability. So if you are not using them you can go with it, otherwise it needs pure cordova or local xcode.

[2020-03-17 14:21] kleeb commented on #356
Sounds similar for me. The latest cordova, cordova-ios, completely fresh new project craeted from Bitrise pipeline

[code]

[2020-03-17 21:02] echo-branch commented on #356
@kleeb Please open a new ticket for your issue.  It's likely different from the old closed issue.

[2020-03-18 01:05] adrianyg7 commented on #637
@TianleZhang could you pease provide a bit more information about your installed software?
Cocoapods, cordova-ios, node, npm, Branch version you're upgrading from.

[2020-03-18 13:10] cordovian22 opened #641 "Apple search Ads on Cordova 9"
The problem is that we don't see any data on Apple search Ads dashboard.

node: v10.16.3
cordova: 9.0.0
xcode: 11.3.1

The plugin version is 4.1.3 but with the following changes in order to be able to build with CLI:

Removed from:  src/ios/BranchNPM.h
`#define BRANCH_NPM true`

And added at plugin.xml and from xcode after building the framework is there
`<framework src="iAd.framework" weak="true"

[2020-03-19 23:50] adrianyg7 commented on #557
This doesn't seem to be an issue anymore, I've been able to install both plugins and both are working fine.

[2020-03-23 14:17] adrenaline15 opened #642 "Branch.h - iOS build doesn't work"

[2020-03-24 17:52] tryhardest opened #643 "Removing references to UIwebview to comply with Apple policy"
https://cordova.apache.org/howto/2020/03/18/wkwebviewonly.html

As per this blog post, Apple is rejecting any plugin or SDK's with any UIwebview references, which the Branch SDK has. Just want to make aware and see if there a plan to remove references to UIwebview to comply with this Apple policy?

[2020-03-24 18:58] echo-branch commented on #643
Have you updated to the latest version?  This was done a while ago.

[2020-03-24 20:05] derrick-branch commented on #637
@TianleZhang let us know if you are still able to reproduce. If you are, please provide @adrianyg7 with the info he's requested, and hopefully you two can go from there.

Closing for now.

[2020-03-24 20:05] #637 closed

[2020-03-31 23:39] felipeclopes commented on #642
I'm facing the same issue, and it only happens running the build command on terminal. It works properly on xCode.

**Project dependencies:**
[code]

**Installed plugins:**
[code]

**Build output:**
[code]
[code]

[2020-04-01 20:35] felipeclopes commented on #642
The issue was happening in my end due to opening the project not the workspace in Xcode.

It is fixed now!

[2020-04-02 09:11] adrenaline15 commented on #642
You are absolutely right, if I'm opening the workspace in xcode I can build the project (since the pods/dependent stuff get also imported via xcodeworksapce-file) successfully; but thats not a suitable solution for me..

I would like to automate the building process without any necessary GUI-interaction. (aka via CLI)

[2020-04-02 16:45] felipeclopes commented on #642
Our process is fully automated, the only steps we do have in our CI, is to make sure we have an updated enough pods gem and pods. The CI run `pod repo update` and `pod install` on the platform specific folder, before building it.

[2020-04-07 18:29] timmliu commented on #643
Could you confirm which version(s) this was released?

[2020-04-07 19:03] echo-branch commented on #643
I believe these are the releases.  4.0.0+ mainline.  3.4.0 lts.

https://github.com/BranchMetrics/cordova-ionic-phonegap-branch-deep-linking-attribution/releases/tag/v4.0.0

https://github.com/BranchMetrics/cordova-ionic-phonegap-branch-deep-linking-attribution/releases/tag/v3.4.0

[2020-04-09 12:47] peterpeterparker opened #647 "iOS cmd line build fails"
Hi,

I just added `branch-cordova-sdk@4.1.3` to my mobile application and now face the following error when I build the application through the command line `ionic cordova build ios`.

[code]

If I build the app in Xcode v11.4, I do not face any errors.

P.S. A duplicate of https://github.com/BranchMetrics/cordova-ionic-phonegap-branch-deep-linking-attribution/issues/642 ?

[2020-04-15 10:45] khanhthaiquang opened #649 "I can't resevice data from branch io when i paste quicklink into chrome browser"
I have a value for the $ios_deep_link key of 1 (in quicklink settings). But when I copy quicklink and paste it into the chrome browser after I install my app and then I open it, my application doesn't get the param that branch io returns. Please help me. only false when copy paste quicklink into chrome

[2020-04-16 15:56] echo-branch commented on #649
We believe this is related to a chrome server side issue that's being worked on.  Will update once that ships.

[2020-04-17 01:49] khanhthaiquang commented on #649
@echo-branch That mean only false when copy paste quicklink into chrome?after I install my app and then I open it, my application doesn't get the param that branch io returns.

[2020-04-17 09:47] NassB opened #650 "URI Scheme not working on Cold Start"
We are trying to open our iOS application with URI Scheme to redirect users to a specific state,  in our handleBranch method we are looking for "+non_branch_link" property in the data returned by initSession().

[code]
The content of data is the following on cold start :
`{+clicked_branch_link: false, +is_first_session: false}`

And on next calls data is the following :
`{+clicked_branch_link: fal

[2020-04-21 22:33] btate opened #652 "FILE_NOT_FOUND_ERROR After Removing and Adding Android Platform"
I'm seeing a strange issue where if I have this plugin installed, and I remove/add then android platform, emulating android without live reload results in a white screen.

For some reason the app loads

Instead of http://localhost/

And I get the following errors on load in the chrome inspector

I have noticed that if I remove this from the plugin.xml and remove/add the android platform, I no long

[2020-04-22 19:28] newuser44 commented on #570
Any luck with this.  Getting this now.

Using cordova-fetch for cordova-ios@5
Adding ios project...
Creating Cordova project for the iOS platform:
	Path: platforms/ios
	Package: CompanyApp
	Name: CompanyApp
iOS project created with cordova-ios@5.1.1
Installing "branch-cordova-sdk" for ios
Failed to install 'branch-cordova-sdk': Error: Cannot find module 'xml2js'
    at Function.Module._resolveFile

[2020-04-26 14:25] ShayShaked opened #653 "Warning. Session initialization already happened. To force a new session, set intent extra, "branch_force_new_session", to true."
Hi,
We're facing a problem with the latest release Cordova 4.1.3 .
When the app is initialized, every resume we get this error what causes the app to work unexpectedly:
**_error":"Warning. Session initialization already happened. To force a new session, set intent extra, \"branch_force_new_session\", to true._**

I saw that the problem occurres also on [android-branch-deep-linking-attribution](htt

[2020-05-08 15:39] AleCat83 commented on #642
I have the same issue with version 4.1.3 and ionic 3 when building for IOS.
I can build using xcode and that is fine but I can't use ionic run with livereload because the build error kill the live reload server. This is slowing down the our development process a lot.
Can't even go back to plugin 3X due to the UIWebView and apple rejection problem (ITMS-90809).
Is this going to be fixed in a new re

[2020-05-08 16:32] newuser44 opened #654 "Legacy ionic 3 app build problems with branch-cordova-sdk"
Been having this problem for weeks now.
A legacy app that is on ionic 3.  Have updated to cordova iOS 5.  Could be other programs that our outdated too?
Been trying to get things to build with
<plugin name="branch-cordova-sdk" spec="^4.1.3" />

Trying to do fresh set up.

[code]

Each time I try something else I get a different error.  I'll keep posting what I find.
I think my next step is to remo

[2020-05-22 10:21] florencesuller opened #656 "Deeplink in resume doesn't pass data (android resume state)"

[2020-05-22 19:27] sysmo-dsv commented on #642
I am facing the same problem using ionic 4. I also cannot go back to version 3.x of the plugin for the same reason as the depreciation of the UIWebView usage.  I'm waiting for a correction.

[2020-05-24 02:24] SidiBecker commented on #642
Hello. I found a solution for this error. I'm using Ionic 4.x and Xcode 11.4.1.

I installed the following versions:
`ionic cordova plugin add branch-cordova-sdk@4.1.3`
`npm i @ionic-native/branch-io@5.26.0`
`npm i @ionic-cli@latest`

I removed the plugins folder and reinstalled the platform:
`rm -rf plugins/`
`ionic cordova platform rm ios && ionic cordova platform add ios@5.1.1`

Before executin

[2020-05-24 14:50] sysmo-dsv commented on #642
Works for me! Thanks!

[2020-05-25 13:09] Sroose commented on #654
Same here on Ionic4

[code]

[2020-05-26 03:32] thesourav123 opened #657 "Redirect To Play Store/Custom URL not working when app not installed"
The deep links plugin is working correctly. But, i have maintained the values in my dashboard under Required Redirects for Android. If my app is not installed, the redirection to app store or custom URL is not working.

Kindly, advise.

[2020-05-26 11:05] Sroose commented on #642
Thanks @SidiBecker !
Actually the search headers are the only thing we needed to get this working.

I've created a hook which can be added to your Ionic project which will fix (workaround) the issue by adding these 2 header search paths automatically:
https://gist.github.com/Sroose/d3db4178babbab1b39b68e9889e7869b

@ Branch team, I think this should be fixed in the Pod?

[2020-05-26 11:49] SidiBecker commented on #642
Wonderful automation @Sroose. Thanks!

[2020-06-08 13:47] stefdelec commented on #656
We have the same problem here. We could not resolve it. We have contacted Branchio team in january.

[2020-06-08 15:45] ArnaudPrigent commented on #656
Same problem here !

[2020-06-10 10:08] stefdelec commented on #656
Can we have support as it is a big problem for our user?

[2020-06-10 10:25] stefdelec commented on #656
It seems that a lot of people have the same issue:

1. https://github.com/BranchMetrics/cordova-ionic-phonegap-branch-deep-linking-attribution/issues/656
2. https://github.com/BranchMetrics/cordova-ionic-phonegap-branch-deep-linking-attribution/issues/564

[2020-06-11 01:00] #656 closed

[2020-06-12 09:43] stefdelec commented on #656
Cordova plugins:
[code]

[2020-06-25 20:56] noahcooper commented on #642
Any update from the Branch team? I'm stuck on v3.4.0 because of this issue

[2020-06-26 12:41] jffs commented on #647
same here

[2020-06-26 13:06] jffs commented on #642
any news?

[2020-06-29 19:51] adrianyg7 commented on #642
Hey @adrenaline15 and @felipeclopes please refer to https://github.com/BranchMetrics/cordova-ionic-phonegap-branch-deep-linking-attribution/issues/604#issuecomment-558997030

I have tried to reproduce this issue with a fresh ionic install but it's building and running fine.
Branch is usually the first plugin and/or Pod. I quote the following text from the same issue linked above

If you still have

[2020-07-01 04:35] noahcooper commented on #642
This can be reproduced by using `branch-cordova-sdk` along with `cordova-plugin-facebook4`.

[2020-07-01 23:55] jffs commented on #642
how we can fix it if have to use facebook plugin?

[2020-07-02 00:51] dannyhpy opened #659 "Remove fs dependency"
`fs` is already installed in Node.js and `fs` is just an _empty_ package in **npm**.

See https://www.npmjs.com/package/fs for more information

[2020-07-02 11:18] vukhacbiet commented on #656
Same issue, I need the help

[2020-07-06 23:41] adrianyg7 commented on #642
Here is a PR that will help with this https://github.com/BranchMetrics/cordova-ionic-phonegap-branch-deep-linking-attribution/pull/660 while this gets merged and released you can add the hook @Sroose shared above. (Thanks @sysmo-dsv for the contribution)

Please note that some plugins still use the old CocoaPods way to resolve config dirs or other obscure ways that modify CocoaPods config causing

[2020-07-16 21:27] newuser44 commented on #654
Any update?  Getting the same problem and searching the web for a solution.  Google brings me back to my own problem from months ago.

Adding platfrom iOS auto address all the plugins which seems to cause a problem for Branch io.
Please advice?

[2020-07-17 21:17] PDLMobileApps commented on #653
We are facing the same issue.

[2020-07-20 14:50] newuser44 opened #661 "Failed to install 'branch-cordova-sdk': Error: Cannot find module './src/superspawn'"
Have an ionic 3 app.
Recently updated Mac to Catalina.

Trying to install plugin.
 <plugin name="branch-cordova-sdk" spec="^3.4.0" />
Have tried running command to add it.  Here I have it in the config.xml to add it in the install.

Discovered plugin "branch-cordova-sdk" in config.xml. Adding it to the project
Installing "branch-cordova-sdk" for ios
Failed to install 'branch-cordova-sdk': Error: C

[2020-07-21 14:40] newuser44 commented on #661
What is the proper way to add this plugin?
I finally got my app to build on ios.  But this plugin is not installed.  I read on another website to add this plugin into the package.json and it would get added.  Is that correct?

What is the correct way to add the branch cordova sdk plugin to a project?

[2020-07-22 05:20] mifkys commented on #653
Hello! I fixed this issue by replacing `SessionListener.onInitFinished()` method with next:
[code]

[2020-07-28 06:41] aishwarya1516 opened #662 "Branch.h - not found issue in ios build"
Hi there,
I am facing issue in building the ionic app with ios platform while adding the branch.io sdk as it results in branch.h not found error on xcode build.

The following is the details of the stack which I am using,
Ionic - v5.0.0
Angular - v10.0.1
ios - v5.1.1
xcode - v11.5
branch-cordova-sdk  - v4.1.3

the following are the plugins used in the project
![Screenshot 2020-07-28 at 12 06 55 PM

[2020-07-28 19:00] AleCat83 opened #663 "can't get path and query string parameters from deep link in Ionic 3 app"
Hello,

I am trying to create a deep linking system using branch.io for my mobile app iOS and ANDROID using Ionic 3.

I have this URL

https://myurl.com/shop/productId=1234

I created a QuickLink into the dashboard with:

$deeplink_path: /shop
$canonical_url: https://myurl.com

In the Application (Ionic 3 with cordova-branch-sdk) I init the session calling

this.branch.initSession().then(branchIoD

[2020-07-29 07:55] MehulBhanshali commented on #602
Any updates here? Still getting the same error.

[2020-07-29 08:19] bobrosoft commented on #602
@MehulBhanshali I forked and fixed that here https://github.com/bobrosoft/cordova-ionic-phonegap-branch-deep-linking-attribution
[code]
However, in #633 they said that this can be solved by using CocoaPods >= 1.8.4 (I didn't try).

[2020-07-29 10:01] rupertbear commented on #602
Sorry only just seen this but yes, since doing that "ionic cordova build ios" works without issue

[2020-07-29 13:24] akhudairyOP commented on #602
hi @bobrosoft  .. I tried the cocoaPods version and it didn't work

[2020-07-29 13:44] bobrosoft commented on #662
See https://github.com/BranchMetrics/cordova-ionic-phonegap-branch-deep-linking-attribution/issues/602#issuecomment-665513393

[2020-07-29 13:55] rupertbear commented on #602
Sorry, late reply but if you mean does 'ionic cordova build ios' work after that then yes it does. Open workspace file in XCode then for final compilation/deployment

[2020-07-31 03:20] noahcooper commented on #662
This is a duplicate of #642 which is fixed but not released.

[2020-08-01 02:00] spinninghamster opened #664 "Type `com.google.firebase.appindexing.FirebaseUserActions` was not found"
I am getting this error message, but the build is successful. Any idea what's wrong?

[code]

[2020-08-02 15:03] Sroose commented on #654
Duplicate of https://github.com/BranchMetrics/cordova-ionic-phonegap-branch-deep-linking-attribution/issues/642
@newuser44 you can find my workaround there

[2020-08-04 11:45] Sebschock commented on #528
I faced the same issue. I made the Cordova plugin work on iOS (capacitor and ionic 5) by including the changes in `AppDelegate.swift` from  https://github.com/BranchMetrics/capacitor-branch-deep-links (I did not install capacitor-branch-deep-links).

[2020-08-12 14:00] razam217 commented on #569
@masimplo did you find any solution to this problem?

[2020-08-12 14:58] razam217 commented on #622
Did you guys find any solution to this issue?

[2020-08-14 08:53] EvelinJK opened #665 "[iOS only] `showShareSheet` causes crash due to uncaught "NSUnknownKeyException""
`cordova: 10.0.0`
`cordova-ios: 5.1.1`
`branch-cordova-sdk: 4.1.3`
`XCode: 11.6`

Executing `branchUniversalObj.showShareSheet(analytics, properties, message)` causes an exception in iOS that leads to a crash of the app.
The same code is working fine on Android.

Below are the logs we get in XCode. The error is caused by the `BranchSDK.m file`

We have no Swift devs here so we're not able to make

[2020-08-14 09:18] EvelinJK commented on #665
Ok, my fault.
It was a `typo` 🤦‍♀️  in our `analytics` object passed to the `generateShortUrl` function.
Seemingly Android doesn't care at all if the key is written correctly or not, but in iOS it causes a crash.
Interesting...

Anyway.
Sorry for the useless ticket. Will close

[2020-08-14 09:18] #665 closed

[2020-08-16 15:17] noahcooper commented on #642
Branch team, any thoughts on when the fix for this will be released?

[2020-08-17 15:27] echo-branch commented on #642
Sorry for the delay.  There's some iOS 14 related work that we'd like to include with the next release and choose to delay a bit.

[2020-08-18 02:05] abarax commented on #528
Where did you set up the <branch-config> to make this work ?

[2020-08-19 07:54] MehulBhanshali commented on #602
@bobrosoft that doesn't work either. I still get branch.h file not found

[2020-08-19 22:20] bobrosoft commented on #602
@MehulBhanshali you should be 100% sure that my version of the plugin installed. You should delete all temporary files, `node_modules`, `plugins`, `platforms` folders etc, possibly even .lock files.

[2020-08-20 01:54] iamqinglong opened #666 "Changed Subdomain and it's not showing 'Open in MyApp'"
I've change my subdomain because it was a generated by branch io. However yesterday it was working.

Ionic 4
OLD: rf8xe.app.link

<img width="980" alt="Screen Shot 2020-08-20 at 9 47 20 AM" src="https://user-images.githubusercontent.com/48402616/90707722-ce432700-e2ca-11ea-9d78-08a6b9750168.png">

[2020-08-20 02:47] iamqinglong commented on #666
Just a miss configuration, sorry.

[2020-08-20 02:47] #666 closed

[2020-08-20 05:34] iamqinglong commented on #564
How do you guys solve this ?

I'm just receiving `{"+clicked_branch_link":false,"+is_first_session":false}` in platform.ready and platform.resume
ENV:

ionic 4
"branch-cordova-sdk": "4.1.3"
"@ionic-native/branch-io": "^5.26.0"

[2020-08-20 08:33] iamqinglong commented on #622
Hello guys, still experiencing this in version 4.1.3 but in iOS

ENV:
ionic 4
branch-cordova-sdk 4.1.3

[2020-08-20 13:53] philippmayrth commented on #411
We also have this problem does anyone have a proper solution for this? I’m also going to mail the Branch support for this.

[2020-08-25 22:05] adrianyg7 commented on #411
As ethanneff mentioned:

I have also tried to reproduce this exact scenario myself but I haven't been able to. https://github.com/BranchMetrics/cordova-ionic-phonegap-branch-deep-linking-attribution/issues/656

To anyone having this issue please provide a minimal reproducible example (Node version, Cordova version, branch-cordova-sdk version, cordova-android version, Android SDK version, other ins

[2020-08-26 09:13] sebaferreras opened #667 "Enable support for SKAdNetwork (iOS 14)"
Hello,

Yesterday I received this email related to the latest changes in iOS 14:

In the [Branch docs](https://help.branch.io/using-branch/docs/branchskadnetwork-integration-instructions#section-app-option-1-use-the-branch-sdk-to-manage-skadnetwork) it's mentioned that support for the **SKAdNetwork** in the Cordova plugin is TBD but I couldn't find any other information about this in this repo.

F

[2020-08-26 16:04] echo-branch commented on #667
It's in progress, we hope to have it done this week.

[2020-08-30 01:48] noahcooper commented on #642
Version 4.2.0 of this plugin still fails when `cordova-plugin-facebook4` is used.

[2020-08-31 09:14] gopi-hl commented on #642
@echo-branch : We are not able to build an iOS build when we use your plugin. This is a work stoppage. Any ideas when this will get released - I am talking about the Branch.h file not found error

[2020-09-01 07:51] mvaullerin commented on #642
We still have issues building our app with the 4.2.0 :

[code]

It seems there is a conflict with cordova-plugin-googleplus: 8.5.0

[2020-09-01 13:53] noahcooper commented on #642
Any update from the Branch team? Version 4 of this plugin has been broken for 6 months now. With upcoming iOS changes, it'll be important for all developers to move off of version 3.

[2020-09-04 08:23] Sebschock commented on #641
@cordovian22 did you find a solution?

[2020-09-09 17:47] echo-branch commented on #641
Sorry for not commenting on this earlier.  I somehow didn't see the original issue report.

The issue is that JS starts up too late to check for ASA, so the JS level api for apple search ads always fails.  The workaround is to make the call at the native code layer.  We should have marked this API as deprecated and a noop.

[2020-09-14 13:46] noahcooper commented on #642
Anything?

[2020-09-14 16:00] echo-branch commented on #642
@noahcooper
We believe the issue is plugin compatibility.

We have a potential fix on staging, which is waiting on an iOS patch release.  You could try pointing there to see if it resolves the issue.

It would be pretty helpful if you could share what other 3rd party plugins you're using.

[2020-09-14 17:07] noahcooper commented on #642
@echo-branch I'm encountering this issue when using this plugin with the `cordova-plugin-facebook4` plugin.

[2020-09-16 17:16] marcelkipp opened #671 "NSTaggedPointerString error"
I have an issue with using the sendCommerceEvent-Method of the module. As soon as I'm calling the method my ios app is crashing with the following error:

I am calling the method as following in my component:

**NSTaggedPointerString countByEnumeratingWithState** in Line 320 in the file BranchSDK.m

`var metadata = {
      customerEventAlias: 'Purchase Event',
      transactionID: this.buyInfo.tra

[2020-09-17 02:11] sfeast opened #672 "Unexpected iOS deeplink open behavior"
Behavior:
1) Created a branch deeplink for an iOS app that is already installed on my device
2) Sent the link to my email account
3) Opened Gmail on iOS device & clicked the link

Result:
App opens directly however `data['+clicked_branch_link']` is false.

Expected:
`data['+clicked_branch_link']` is true.

Notes:

1. If I directly copy/paste the link into mobile safari then I get a dialog asking "

[2020-09-17 17:26] sfeast commented on #672
nvm - was a plugin conflict issue 🤦

[2020-09-17 17:26] #672 closed

[2020-09-22 07:54] Sebschock commented on #667
What is the status on the update for the iOS 14 update?

[2020-09-30 00:04] AleCat83 opened #674 "continueUserActivity override prevents other plugins to listen to Universal Links"
Hello,
In my Ionic (just migrate to) 5 project I need to handle both branch and regular Universal links. To do this I use Branch cordova  plugin and https://github.com/ionic-team/ionic-plugin-deeplinks. Universal links were were working fine until I added Branch plugin. After some digging I think the problem is that both plugins override the continueUserActivity method, so what is happening is tha

[2020-10-02 16:26] caleb87 commented on #559
Did you find a fix for this? I have the same issue.

[2020-10-05 22:59] caleb87 opened #675 "Links work on iPhone X but not iPhone 6s"
App links work on an iPhone X. They don't work on iPhone 6s running iOS 14.01.

The link won't open the app. I can long-press the link, but it doesn't give the app as an option like it does on the iPhone X.

[2020-10-06 12:26] malua commented on #661
Did you run `pod repo update` before to update your local cocoapod repos?

I had this error, before running `pod repo update`:
[code]
Updating the the pod repo fixed it!

[2020-10-06 15:29] caleb87 commented on #675
Branch works when I add cordova-plugin-deeplinks

Adding that plugin says:
[code]

I looked and there's a file. Apparently branch doesn't create this file. The docs say you must add it yourself when using Capacitor, but I'm not using Capacitor.

[2020-10-30 15:27] jeremyjackson89 commented on #656
If anyone still runs into this and you're going back and forth between a test and live environments, remember to update the `config.xml` file to have the correct `branch-key` and `link-domain` for your current target environment. That's the incredibly basic thing I was forgetting to do.

Test
[code]

Live
[code]

Hope this helps :)

[2020-11-06 01:25] noahcooper commented on #642
Any chance of a release of this plugin sometime soon with the fix for this issue?

[2020-11-06 19:21] echo-branch commented on #642
@noahcooper sorry about that, i totally dropped the ball on this patch release.  Getting out now.

[2020-11-07 03:05] noahcooper commented on #642
Yay, my build is working again. Thanks, Branch team!

[2020-11-17 22:33] BranchJShek commented on #641
This method has since been deprecated from our SDK following the note above. Please reach out to support@branch.io if you have any questions.

[2020-11-17 22:33] #641 closed

[2020-11-27 17:28] AleCat83 commented on #601
This is still happening to me in version 4.2.1. I m able to go around this building with Xcode but this force me to remove the plugin when testing with ionic live reload,

[2020-12-02 15:38] epetre opened #676 "Is this plugin using apple IDFA? It shows up in a grep search."
Read this and it's not clear if this plugin uses IDFA automatically.
https://blog.branch.io/ios-14-frequently-asked-questions-about-whats-changing-how-to-adapt-to-the-idfa-going-away-and-what-this-means-for-the-industry/

It shows up if we run ` grep -rl ./' -e 'advertisingIdentifier`
And we are concerned given that the deadline is approaching.

[code]

[2020-12-02 18:04] echo-branch commented on #676
If the iAd.framework is included, we will request IDFA via selectors.  If you do not need the IDFA, you can omit the iAd.framework as it has no other purpose.  If I recall correctly, cordova does not include it by default.

However, if I'm mistaken and cordova is including the iAd.framework by default, you can exclude it via the following workaround.

1. Search for GCC_PREPROCESSOR_DEFINITIONS
2.

[2020-12-02 20:19] epetre commented on #676
Great, thank you!

[2020-12-02 20:20] #676 closed

[2021-01-02 12:57] Ahmad-Mustafaa commented on #355
There is an issue with http/https `deeplink ` if we send these on any app it will open popup open with in android and ask for open in chrome or our app and if user open in chrome our app will not trigger..

[2021-01-21 05:48] KirstenStake commented on #667
@echo-branch any status on this please?

[2021-01-22 12:31] romandragan commented on #641
@echo-branch, @BranchJShek, is the any example of calling `delayInitToCheckForSearchAds()` from native code in Cordova/Ionic app?

[2021-01-22 18:36] echo-branch commented on #641
Within Xcode, you can locate an AppDelegate.m file.  You can enable early lifecycle calls here.

In this example, I enable logging to confirm ASA is working.  I then enable search ads and the longer delay as Cordova has a long launch time.
`
@implementation AppDelegate

- (BOOL)application:(UIApplication*)application didFinishLaunchingWithOptions:(NSDictionary*)launchOptions
{
    [Branch.getInsta

[2021-01-22 21:07] echo-branch commented on #667
@KirstenStake
Sorry this ticket should have been updated and closed.  The current Cordova includes iOS SDK 0.35.0 which has support for this.

https://github.com/BranchMetrics/ios-branch-deep-linking-attribution/releases

[2021-01-22 21:07] #667 closed

[2021-01-23 21:52] felipeclopes commented on #542
Any updates on this? I'm still facing a similar issue with newer version of the plugin and ionic.

[2021-01-24 06:40] felipeclopes commented on #641
@echo-branch how this helps getting the data in Branch dashboard? Does it transfer the parameters to the Cordova app?

[2021-01-24 23:21] echo-branch commented on #641
This works by setting the Branch SDK to lookup Apple Search Ads before the install event.  This will ensure we have it show up properly on the dashboard, we also return it in the callback to the JS code.

This is not possible from JS alone, cause the Cordova JS environment starts up after the initial install. Which means we probably sent the install without the ASA data payload.

[2021-02-13 11:26] tamsel12 commented on #601
Yes, The Build is failed if i have updated the 4.2.1 version. So i am building with only xcode.

[2021-02-13 11:39] tamsel12 commented on #642
No it is not working for me. Still getting the same issue while build the app

[2021-02-15 10:39] ShayShaked opened #677 ""Session initialization already happened""
Hi,
I have an update on issue:
[Cordova 653](https://github.com/BranchMetrics/cordova-ionic-phonegap-branch-deep-linking-attribution/issues/653)

This error, sometimes, seems to occur when **Location permission is disabled**.
I can see that this issue is widespread also in android:
[Android 839](https://github.com/BranchMetrics/android-branch-deep-linking-attribution/issues/839)

I hope this info

[2021-03-05 12:54] nagaperla opened #678 "Issue with white screen in cordova applications"
Getting a white screen on load and freezing the Cordova applications. Not sure what I'm missing. Here are the installed plugins in the application -

[code]
And following cordova platforms are used -

[code]

Both cordova-ios and cordova-android builds are successful. And able to deploy to the play stores successfully.

Would be great, if anyone suggests ideas to solve the problem. Thanks in advan

[2021-04-19 22:32] felipeclopes commented on #671
We're experience the same thing and are not able to track events like TRIAL_STARTED and PURCHASE.

Are there any updates in this issue?

[2021-04-20 06:59] marcelkipp commented on #671
@felipeclopes No, unfortunately no updated. We decided to remove branch from our project.

[2021-04-22 22:12] CodeWithOz commented on #677
Did you find any resolution to this issue?

[2021-04-29 11:11] noahcooper opened #682 "Build fails when using plugin version 4.2.2"
The most recent version of this plugin causes build to fail with this error:

[code]

It looks like this is caused by the new hook added in e2fdf307d5f2c04d48caaee937f1c7b247fc11d5.

Downgrading back to 4.2.1 fixes this.

[2021-04-29 11:22] MaximBelov commented on #682
you can check this fix
https://github.com/BranchMetrics/cordova-ionic-phonegap-branch-deep-linking-attribution/pull/683

[2021-04-30 04:48] noahcooper commented on #682
This is still broken in 4.2.3.

[2021-04-30 04:50] echo-branch commented on #682
Please use the workaround provided by @MaximBelov
It's merged, but missed the hotfix for Android. Totally forgot about it.

[2021-05-01 21:34] SamuelMichelRiad opened #687 "Incompatible block pointer types"
Hi all,

I'm getting the following error when compiling for iOS:

Incompatible block pointer types sending 'void (^)(BranchLastAttributedTouchData * _Nullable __strong)' to parameter of type 'void (^ _Nonnull)(BranchLastAttributedTouchData * _Nullable __strong, NSError * _Nullable __strong)'

The plugin version is 4.2.3. Any ideas?

<img width="1440" alt="Screen Shot 2021-05-02 at 1 32 20 AM" src=

[2021-05-03 16:48] echo-branch commented on #687
Thanks for the heads up.  Working on a fix.

[2021-05-03 18:20] echo-branch commented on #687
This should be fixed in the 4.2.4 patch release.

[2021-05-03 18:21] #687 closed

[2021-05-03 18:21] echo-branch commented on #682
This should be fixed in the 4.2.4 patch release.

[2021-05-03 18:21] #682 closed

[2021-05-03 18:31] #643 closed

[2021-05-14 03:09] felipeclopes opened #690 ""module 'AdServices' not found" on build_ios Fastlane"
[code]

When I'm trying to build the workspace with Fastlane, it is not being able to find the module AdServices.

[code]

There shouldn't e any difference between xcode build and fast lane.

The complete log is here: https://pastebin.com/1BhqwHD7

[2021-05-14 15:51] echo-branch commented on #690
Are you using the latest version of Xcode?  AdServices was added in Xcode 12.3 and is now required for Branch.

[2021-05-14 21:54] felipeclopes commented on #690
Thank you @echo-branch, it worked!

[2021-05-14 21:54] #690 closed

[2021-05-14 23:15] adrianyg7 commented on #674
Hey @AleCat83 please note that `ionic-plugin-deeplinks` is marked as incompatible with `branch-deep-linking` https://help.branch.io/developers-hub/docs/cordova-phonegap-ionic#compiling-incompatibilities

[2021-05-14 23:30] adrianyg7 commented on #671
Hey @marcelkipp @felipeclopes Can you provide additional information about your build environment?
Cordova version, branch-cordova-sdk version, node version, Xcode version, installed plugins.

Please note that `sendCommerceEvent` method is deprecated since v.3.1.0
Refer to https://help.branch.io/developers-hub/docs/cordova-phonegap-ionic#track-commerce for tracking commerce events.

[2021-05-14 23:46] adrianyg7 commented on #661
Hey @newuser44 Can you provide additional information about your build environment?
Cordova version, branch-cordova-sdk version, node/npm versions, installed plugins.

Please refer to https://help.branch.io/developers-hub/docs/cordova-phonegap-ionic#configure-app for configuration steps.

[2021-05-15 00:25] adrianyg7 commented on #639
Hi @wwannous please refer to [incompatibilities ](https://help.branch.io/developers-hub/docs/cordova-phonegap-ionic#compiling-incompatibilities)section.

[2021-05-15 00:36] adrianyg7 commented on #607
Hey @Zyostes please note that PhoneGap Build is marked as incompatible https://help.branch.io/developers-hub/docs/cordova-phonegap-ionic#compiling-incompatibilities

[2021-05-15 00:46] adrianyg7 commented on #647
Hey @peterpeterparker Can you provide additional information about your build environment?
Cordova version, node/npm versions, cordova-ios version, installed plugins.

[2021-05-15 00:48] adrianyg7 commented on #616
Hey @asfandtauqir Can you provide additional information about your build environment?
Cordova version, branch-cordova-sdk version, node/npm versions, cordova-android version, cordova-ios version, installed plugins, etc.

[2021-05-15 07:44] peterpeterparker commented on #647
It was like more than a year ago, I've got no clue anymore and probably went another way. Therefore I close this issue.

[2021-05-15 07:44] #647 closed

[2021-06-19 08:30] CodeWithOz commented on #678
@nagaperla could you resolve this issue? Also it looks like you're using v4.2.1 of the plugin. If you upgrade to v4.2.4 does the problem persist?

[2021-07-20 16:20] felipeclopes commented on #671
I created this [PR](https://github.com/ionic-team/ionic-native/pull/3675) fixing the issue on [IonicNative](https://github.com/ionic-team/ionic-native) - so now the IonicNative Branch library has the correct method `sendBranchEvent` implementation.

[2021-07-20 16:30] felipeclopes opened #691 "Apple Search Ads has data on Dashboard but no Keyword / Campaign attribution"
I was able to get Apple Search Ads to be tracked on Branch.io with the latest releases, but it seems like the Campaign and Keyword attribution for custom events still not working. As you can see in the following screenshot:

![Screen Shot 2021-07-20 at 9 22 47 AM](https://user-images.githubusercontent.com/2620476/126360566-978fa027-83c1-4ccf-aab7-4934beff8e0d.png)

It shows Campaign unpopulated, t

[2021-08-16 17:10] patrickgeiger opened #692 "iOS 15 Support"
I understand there were code changes required for iOS 15 support. Will this plugin be updated accordingly?

[2021-08-16 18:39] echo-branch commented on #692
Fortunately the change was shipped as an iOS patch release which Cordova will automatically pick up. Users can update by deleting the `Pods` folder and the `Podfile.lock` and doing a `pod update`.

In the `branch.json` config file you may set `checkPasteboardOnInstall` to enable checking the pasteboard for a deferred deeplink. Note this will display a toast to the end user and is therefore disable

[2021-08-21 02:23] felipeclopes commented on #691
@echo-branch any updates on this?

[2021-08-24 14:38] nvahalik commented on #692
@echo-branch Can you be more specific about `branch.json`? I am not sure what this is.

I will say that ensuring that you have version `4.2.4` of this package installed, it will make sure that the correct Pod is installed.

If you are using Ionic AppFlow, you'll also need to use the (at Aug 2021) the `2021.06` build settings configuration since it requires having Xcode >=12.3. The `2021.06` config

[2021-09-10 00:28] felipeclopes commented on #671
@echo-branch this issue can be closed.

[2021-10-20 05:19] AEiosApp opened #695 "Android app crashes on launch"
I'm trying to:
cordova run android

Project succesfully BUILT, but when I launch my app on real device it crashes immediately and on the Android Studio I can see the errors (see below).

branch-cordova-sdk spec:
4.0.0

If I uninstall branch-cordova-sdk - everything works fine.

Looks like an error is this one:
`E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.ae.touringbee, PID: 10142

[2021-12-02 13:32] michalsisak opened #696 "Why referencing a window object `Branch = window['Branch']` and not injecting through dependency injection?"
Hello, I wonder why you mention in your [docs](https://help.branch.io/developers-hub/docs/cordova-phonegap-ionic#initialize-branch) a way how to inject Branch through `window` object:
`const Branch = window['Branch'];`

 and not the regular way by initializing it in constructor like:

[code]

Is there any difference or drawback between those two methods?

_Stack involved: Angular, Ionic 3, Capacit

[2021-12-07 20:04] rex-iotum opened #697 "Android 12 requires app links verification similar to iOS AASA"
Deeplinking on Android 12 no longer works without explicit user input to enable each deep link after app install.

Is there any way for this plugin to generate the correct `<intent-filter>` format as per this guide?
https://developer.android.com/training/app-links/verify-site-associations

    <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />

[2021-12-07 20:15] rex-iotum commented on #697
Ah nevermind, looking at the source code your plugin already does so. We're only missing the AASA style file hosted in `.well_known`

[2021-12-07 20:15] #697 closed

[2021-12-07 20:17] jf-branch commented on #697
Hi @rex-iotum. When you properly set up Android App links in the Branch Dashboard Configuration tab with your corresponding SHA256 certs for different build types/environments, we will properly host your DAL(digital asset links) file within the app.link/.well-known

[2021-12-07 20:24] rex-iotum commented on #697
@jf-branch Hi, I would suggest making it more prominent that Android 12 now requires using "App Links" instead of the usual Link -> Browser -> App handoff.

[2021-12-20 14:17] levyschiavetti commented on #455
I'm not sure why this issue is closed since the problem still exists. I'm experiencing it right now

[2022-02-08 13:34] Sujay-shetty opened #700 "request package critical vulnerability"
Hi,

As branch-cordova-sdk using request package and request is deprecated and has many vulnerabilities are getting identified.
Also recent vulnerability on json-schema which is used in request is one of the critical vulnerability with high CVE score(9.8).

https://nvd.nist.gov/vuln/detail/CVE-2021-3918

Could you please fix this vulnerability.

Thanks,
Sujay

[2022-02-08 20:50] echo-branch commented on #700
Thanks for the heads up. It's not used, but we forgot to remove it from the package.json. Will remove asap.

[2022-02-08 21:09] gdeluna-branch commented on #700
Removed here
https://www.npmjs.com/package/branch-cordova-sdk/v/5.0.1
https://github.com/BranchMetrics/cordova-ionic-phonegap-branch-deep-linking-attribution/releases/tag/v5.0.1

Thanks!

[2022-02-09 03:07] Sujay-shetty commented on #700
thanks for the quick action @gdeluna-branch :)

[2022-02-09 08:16] Sujay-shetty commented on #700
Hi @gdeluna-branch , @echo-branch,

Thank you for taking quick action on resolving request package issue.

But in pacakge.json you are using shell.js version 0.8.3 which has high vulnerability listed.
https://nvd.nist.gov/vuln/detail/CVE-2022-0144

Could you please upgrade shell.js to latest version (0.8.5) where this issue is fixed.

Thanks,
Sujay

[2022-02-09 19:15] gdeluna-branch commented on #700
Will address this asap.

[2022-02-10 01:20] gdeluna-branch commented on #700
Patched in 5.0.2

Thanks

[2022-02-17 19:51] #700 closed

[2022-03-28 21:01] rex-iotum opened #703 "Allow us to specify android-prefix for non-bnc.lt link domains"
Currently `android-prefix` is purely for use with bnc.lt, since its validations severely limit what can be put there. (3-4 char alphanumeric paths only)

I want to be able to specify a custom link-domain while able to specify a custom android-prefix.
Without it there is no way to limit which paths can be deeplinked for Android using this plugin.

IE with this config of
`<link-domain value="*.callb

[2022-05-23 12:01] Sujay-shetty opened #705 "Prototype pollution in plist"
Hi,

There is new critical Prototype Pollution vulnerability found in plist according to below CVE.
https://github.com/advisories/GHSA-4cpg-3vgw-4877

which is fixed in plist version 3.0.5 (https://github.com/TooTallNate/plist.js/issues/114).

Could you please update branch-sdk package.json to use latest version of plist.

Thanks,
Sujay

[2022-05-24 05:21] Sujay-shetty commented on #705
@gdeluna-branch or @echo-branch could you please update this minor version of plist?

[2022-05-24 18:38] echo-branch commented on #705
@Sujay-shetty
If I'm not mistaken, you can clear the cached version in node_modules and reinstall. That should pick up the fixed version.

"plist": "^3.0.4"
https://github.com/BranchMetrics/cordova-ionic-phonegap-branch-deep-linking-attribution/blob/master/package.json#L62

npm package.json docs
https://github.com/npm/node-semver#caret-ranges-123-025-004

We will be working on a new release as wel

[2022-05-24 21:26] gdeluna-branch commented on #705
Yes we'll aim to update this week. Thanks for the heads up @Sujay-shetty

[2022-05-25 00:12] JagadeeshKaricherla-branch commented on #705
@Sujay-shetty : Our caret range should cover plist patch version.
2 ways to fix :
1) `npm update plist`
2) rm -rf the version in node_modules and re-install

[2022-05-25 06:13] Sujay-shetty commented on #705
Hi @JagadeeshKaricherla-branch , I tried above way but it is referring to version 3.0.4 only, so latest version it is not picking.
Due to which I have created this issue.

[2022-06-03 00:26] echo-branch commented on #705
@Sujay-shetty
Sorry for the delay, but 5.1.0 is now released.

[2022-06-03 00:26] #705 closed

[2022-06-11 23:32] sadelbrid opened #707 "BranchIo is not injectable"
In my Ionic 6 / Angular 13 application, when I try to inject BranchIo into my app.component.ts, I get the following error:

[code]

Here is my import:

`import { BranchIo } from '@awesome-cordova-plugins/branch-io/ngx';
`

And here is my injection:

[code]

I assume this is the preferred way to import Branch, because this is the example code given on [the Ionic Branch-IO page](https://ionicframewo

[2022-06-12 18:56] sadelbrid commented on #707
So, I wasn't adding BranchIo as a provider in my app.module.ts. All good now!

[2022-06-12 18:56] #707 closed

[2022-06-14 00:10] fcamblor opened #708 "disableTracking() / initSession() error on subsequent calls"
Hello there,

I faced a lot of problems trying to make this plugin's `v5.1.0` working on both iOS and Android.

What I want to do :
- disable tracking for GDPR considerations
- init Branch session on application startup
- when branch link has been clicked, show an alert

To validate this, I was running following scenarios (both on Android & iOS) :
1/ Open Branch link
2/ Get redirected on the store

[2022-06-14 02:37] sadelbrid commented on #708
Not here to offer a solution (yet), but how did you get branch-cordova-sdk  v5.1.0 to work on device? Ever since I've upgraded, I get cordova_not_available errors whenever I try to call any Branch methods (initSession(), for example). I came here to create an issue myself, but thought I'd ask here first. Do you mind sharing your Branch package versions?

[2022-06-14 02:59] sadelbrid commented on #696
Based on my experience with the latest branch/cordova versions, branch is no longer attached to the window object. I think those docs are out of date.

[2022-06-14 03:12] sadelbrid opened #709 ""Cordova is not available" when running on simulator/device"
I'm trying to get Branch working with the latest Ionic/Angular/Cordova versions, but no luck so far. Whenever I try to use Branch methods like initSession(), I get an error:

[code]

This is an error I've only seen before when running in a browser, but this is happening on my iOS simulator and device.

Usage in app.component.ts:

[code]

Versions:
[code]
Also, I'm using Angular 13

Am I doing some

[2022-06-14 07:11] sadelbrid commented on #709
Alright, after updating everything I possibly could, I found that I was simply missing the core module:

npm install @awesome-cordova-plugins/core --save

[2022-06-14 07:11] #709 closed

[2022-06-17 12:19] nevstas opened #710 "How can I get "campaign name" from traffic source?"
How can I get "campaign name" from traffic source?

[code]

Can anybody help me?

[2022-06-17 12:48] nevstas commented on #710
I found solution.

[code]

I found example of data:

[code]

[2022-07-08 14:46] fcamblor commented on #708
Do we still have people from Branchmetrics maintaining this plugin ?

Not having even a reaction on this issue in near than one month makes me wonder :(

[2022-07-08 18:58] gdeluna-branch commented on #708
Apologies for the lack of response @fcamblor , this one slipped me. I've gone over your write up and appreciate the details you've put in. Right now we're designing some proper fixes to the session handling for our Javascript based plugins- this is helpful data. Will keep you posted.

[2022-07-10 23:09] fcamblor commented on #708
Cool :-)

Thanks for the feedback.

[2022-07-29 19:50] Brandi-Youreka opened #712 "Can Branch.io fallback to a different app"
I am currently developing a new app to replace my old mobile app. The old and new mobile app will both exist at the same time to give the customers time to transition from the old to new app. The old mobile app is using branch.io for deep linking and I would like to continue using those deep links for my new mobile app. Is there a way to make the deep link:

1. Open the new mobile app if it is ins

[2022-07-29 21:14] echo-branch commented on #712
Sounds like you need multiple app IDs associated with the same domain. We do not have a self service page for this. You should file a support ticket to have this added to your app.link domain.

[2022-07-29 21:14] #712 closed